@az-fr:registry=http://srvnexus.agf.fr/nexus/repository/allianz-npm-repository/
@allianz:registry=http://srvnexus.agf.fr/nexus/repository/allianz-npm-all/
no_proxy=bitbucket,srvnexus,srvnexus.agf.fr
registry=http://srvnexus.agf.fr/nexus/repository/allianz-npm-all/
noproxy=bitbucket,srvnexus,srvnexus.agf.fr
sass_binary_site=http://bitbucket.agf.fr/projects/T2/repos/t2-node-sass/raw/releases
phantomjs_cdnurl=http://bitbucket.agf.fr/projects/T2/repos/t2-phantomjs/raw/downloads
no-proxy=bitbucket,srvnexus,srvnexus.agf.fr
